  @import "variables";

  @import "normalize";


  
  body {
    margin: 0;
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: $font-family-monospace;
  }
  
  button:focus{
    outline: none;
  }